@import url("https://fonts.googleapis.com/css?family=Fredoka+One");
body {
  
  color: #efeff1;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  /* overflow: hidden; */
  background-color: transparent;
  margin: 0;
}

.half-transparent {
  background-color: rgba(0, 0, 0, 0.5)!important;
}

#chat {
  /* position: absolute; */
  width: 365px;
  background-color: rgb(14, 14, 16);
  padding: 8px;
}
.channel-name {
  font-size: 14px;
  opacity: .6;
  margin-right: 5px;
}
.chat-line {
  overflow: hidden;
  max-height: 0px;
  transition: opacity 2s, max-height 1s, margin-top 1s;
  border-radius: 10px;
}
.chat-line.visible {
  margin-top: 10px;
  max-height: 500px;
  transition: opacity 2s, max-height 1s, margin-top 300ms;
}
.chat-line .chat-line-inner {
  padding: 2px;
  overflow-wrap: break-word;
}
.chat-line .chat-line-inner .badges img.badge {
  margin-right: 2px;
  width: 18px;
  height: 18px;
}
.chat-line .chat-line-inner.admin .message {
  opacity: 0.4;
}

.user-name {
  color: inherit;
}

.message img.emoji {
  width: 20px;
}

.alert {
  background-color: black;
  padding: 10px;
  color: rgb(29, 201, 249);
}

.full-width {
  width: 100%!important;
  font-size: 2.1vh;
}

.full-width .channel-name {
  font-size: 1.3vh!important; 
}

.full-width .chat-line .chat-line-inner .badges img.badge {
  margin-right: 2px;
  width: 2vh!important;
  height: 2vh!important;
}

img {
  vertical-align: middle;
}
